body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5em;
  }
  
  .menu {
    display: none;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 15px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
  }
  
  .menu-icon {
    display: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
  }
  
  @media only screen and (max-width: 768px) {
    .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      background-color: #333;
      z-index: 1;
    }
  
    .menu-icon {
      display: block;
    }
  
    .menu ul {
      flex-direction: column;
    }
  
    .menu li {
      margin: 15px 0;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }

  